{% extends 'base.html' %} {% load static %} {% load filters %} {% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}"> {% endblock %} {% block content %}

<div class="landing-img noselect">
    <div class="limiter">
        <h6 class="settings-title"><span style="padding:0 10px">Autofulfill Settings</span><button class="btn btn-light fulfill-button">Expand</button></h6>
        <div class="table-wrapper fulfill-settings">
            <table id="stockTable" class="display">
                <thead>
                    <tr class="stock">
                        <th>ITEM NAME</th>
                        <th>PART NUMBER</th>
                        <th>AUTO ACCEPT?</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in list_of_products %}
                    <tr>
                        <td>{{ item.product_name }}</td>
                        <td class="sku_id">{{ item.part_number }}</td>
                        <!-- Toggle -->
                        <td>
                            <!-- Switch has access to SKU number on toggle -->
                            {% if item.auto_fulfill %}
                            <label class="switch">
                                <input class="on auto_fulfill-btn" type="checkbox" {% if item.auto_fulfill %} checked {% endif %}>
                                <div class="slider round"></div>
                            </label>
                            {% else %}
                            <label class="switch">
                                <input class="auto_fulfill-btn" type="checkbox">
                                <div class="slider round"></div>
                            </label>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="table-wrapper">
            <table id="pendingTable" class="display">
                <thead>
                    <tr class="pending">
                        <th>Order No.</th>
                        <th>Order Date</th>
                        <th>SKU</th>
                        <th>Customer Name</th>
                        <th>Location</th>
                        <th>Status</th>
                        <th>Tracking No.</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in pending %}
                    <tr>
                        <td class="order_id">{{ order.order_id }}</td>
                        <td>{{ order.received | date_formater }}</td>
                        <td>{{ order.part_number }}</td>
                        <td>{{ order.customer_id.firstname }} {{order.customer_id.lastname }}</td>
                        {% if order.customer_id.state == 'BC' %}
                        <td style="color: #28a745">{{ order.customer_id.city }}
                            <i class="fa fa-home fa-fw " aria-hidden="true " />
                        </td>
                        {% else %}
                        <td>{{ order.customer_id.city }}, {{ order.customer_id.state }}</td>
                        {% endif %}
                        {% if order.status == 'SHIPPING' or order.status == 'SHIPPED' %}
                        {% if order.newegg_shipped %}
                        <td>Shipped</td>
                        <td>{% if not order.tracking_id %} None {% else %}{{ order.tracking_id }} {% endif %}</td>
                        <td>
                            {% if not order.tracking_id %}
                            <button class="btn btn-sm btn-details btn-report btn-primary">Get Tracking</button>
                            {% elif not order.bestbuy_filled %}
                            <button class="btn btn-sm btn-details btn-bestbuy-tracking btn-primary">Update Bestbuy</button>
                            {% else %}  <button class="btn-log btn-sm btn btn-dark " />Log Order
                            <i class="fa fa-database fa-fw " aria-hidden="true " />  {% endif %}
                        </td>
                        {% else %}
                        <td>Debited</td>
                        <td></td>
                        <td>
                            <button class="btn-send btn-sm btn btn-primary" />Send
                            <i class="fa fa-send fa-fw" aria-hidden="true" />
                        </td>
                        {% endif %} {% else %} {% if order.status == 'WAITING_ACCEPTANCE' %}
                        <td>Awaiting Accept</td>
                        <td>None </td>
                        <td>
                            <button class="btn-accept btn-sm btn btn-success" />Accept
                            <i class="fa fa-check fa-fw" aria-hidden="true" />
                        </td>
                        {% elif order.status == 'WAITING_DEBIT_PAYMENT' %}
                        <td>Awaiting Debit</td>
                        <td>None </td>
                        <td></td>
                        {% endif %} {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="table-wrapper">
            <table id="reportTable" class="display">
                <thead>
                    <tr class="report">
                        <th style="text-align:center">Report ID</th>
                        <th style="text-align:center">Process</th>
                    </tr>
                </thead>
                <tbody>
                    {% for report in reports %}
                    <tr>
                        <td style="text-align:center" class="report_id">{{ report.request_id }}</td>
                        <td style="text-align:center">
                            <button class="btn btn-primary btn-sm btn-parse-report">Process Report</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="table-wrapper">
            <table id="completeTable" class="display">
                <thead>
                    <tr class="complete">
                        <th>Order No.</th>
                        <th>Order Date</th>
                        <th>SKU</th>
                        <th>Customer Name</th>
                        <th>Location</th>
                        <th>Status</th>
                        <th>Total: {{ completed_len }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in completed %}
                    <tr class="row100 body">
                        <td class="order_id">{{ order.order_id }}</td>
                        <td>{{ order.received | date_formater }}</td>
                        <td>{{ order.part_number }}</td>
                        <td>{{ order.customer_id.firstname }} {{order.customer_id.lastname }}</td>
                        {% if order.customer_id.state == 'BC' %}
                        <td style="color: #28a745">{{ order.customer_id.city }}
                            <i class="fa fa-home fa-fw " aria-hidden="true " />
                        </td>
                        {% else %}
                        <td>{{ order.customer_id.city }}, {{ order.customer_id.state }}</td>
                        {% endif %} {% if order.status == 'RECEIVED' %}
                        <td style="color: #28a745">Received</td>
                        {% else %} {% if order.status == 'CANCELED' %}
                        <td style="color: #dc3545">CANCELED</td>
                        {% else %} {% if order.status == 'CLOSED' %}
                        <td style="color: #dc3545">Closed</td>
                        {% else %} {% if order.status == 'REFUSED' %}
                        <td style="color: #dc3545">Refused</td>
                        {% endif %} {% endif %} {% endif %} {% endif %}

                        <td style="color: #28a745">
                            {% if order.uploaded %} Logged {% else %}
                            <button class="btn-log btn-sm btn btn-dark " />Log Order
                            <i class="fa fa-database fa-fw " aria-hidden="true " /> {% endif %}
                        </td>



                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %} {% block javascript %}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="{% static 'js/dashboard.js' %}"></script>
<script>
// extra javascript lawl
</script> {% endblock %}