@font-face {
  font-family: Lato-Regular;
  src: url("../fonts/Lato/Lato-Regular.ttf");
}

@font-face {
  font-family: Lato-Bold;
  src: url("../fonts/Lato/Lato-Bold.ttf");
}

.landing-img {
  position: relative;
  background: url("../img/background.jpg") repeat;
  background-size: cover;
  background-position: center;
}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.limiter {
  width: 1366px;
  margin: 0 auto;
  padding: 30px;
}

.table-wrapper {
  background-color: white;
  padding: 1.5em;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  margin-bottom: 30px;
}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/
.table100 {
  background-color: #fff;
}

table {
  width: 100%;
}

th,
td {
  font-weight: unset;
  padding-right: 10px;
}

.pending {
  background-color: #007bff;
}

.report {
  background-color: #ffc107;
}

.complete {
  background-color: #28a745;
}
